<!-- <div class="col-xs-12 divider" id="user_bottom_div">
<h3 class="text-center">Surprize !</h3>
	<div id="list-partial-elements" class="col-md-8 col-md-offset-2">
	</div>
</div>
 -->
<style type="text/css">
	#user_bottom_div{
		margin-top: 20px;
	}
</style>
<p>Surprize !! spelling</p>