<%if user_signed_in? && params[:id].to_i == current_user.id && current_user.user_role == :admin %>
<div class="container admin_home_container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            <i class="fa fa-user-secret" aria-hidden="true"></i> Admin Controls</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-6 col-md-6">
                <a href="<%=application_url%>" class="btn btn-danger btn-lg" role="button"><i class="fa fa-list-alt" aria-hidden="true"></i> <br/>Apps</a>
                <a href="#" class="btn btn-warning btn-lg" role="button"><i class="fa fa-bookmark-o" aria-hidden="true"></i><br/>Bookmarks</a>
                <a href="#" class="btn btn-primary btn-lg" role="button"><i class="fa fa-signal" aria-hidden="true"></i> <br/>Reports</a>
                <a href="#" class="btn btn-primary btn-lg" role="button"><i class="fa fa-comments" aria-hidden="true"></i> <br/>Comments</a>
              </div>
              <div class="col-xs-6 col-md-6">
                <a href="#" class="btn btn-success btn-lg" role="button"><i class="fa fa-users" aria-hidden="true"></i> <br/>Users</a>
                <a href="#" class="btn btn-info btn-lg" role="button"><i class="fa fa-file" aria-hidden="true"></i> <br/>Notes</a>
                <a href="#" class="btn btn-primary btn-lg" role="button"><i class="fa fa-photo" aria-hidden="true"></i> <br/>Photos</a>
                <a href="#" class="btn btn-primary btn-lg" role="button"><i class="fa fa-tags" aria-hidden="true"></i> <br/>Tags</a>
              </div>
            </div>
            <a href="http://www.jquery2dotnet.com/" class="btn btn-success btn-lg btn-block" role="button"><i class="fa fa-globe" aria-hidden="true"></i> Website</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% else %>
  <%flash.now[:warning] = "Not Authorised To View This Page"%>
  <% end %>

  <style type="text/css">

    .admin_home_container{
      text-align: center;
    }

    body { padding-top:20px; 
    }
    .panel-body .btn:not(.btn-block) {
     width:120px;margin-bottom:10px; 
   }
  </style>