 <div class="container">
	<div class="row">
		<div class="col-md-offset-2 col-md-8 ">
			<div class="well profile">

					<%= render 'users/user_info_snippet' %>

				<div class="col-xs-12 divider text-center">
					<div class="col-xs-12 col-sm-4 emphasis">
						<h2><strong> 20.7K </strong></h2>                    
						<p><small>Followers</small></p>
						<% if current_user.id != params[:id].to_i%>
						<button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Follow </button>
						<% else %>
							 <%= button_to "Edit Profile", edit_user_registration_path, class: "btn btn-success btn-block", method: :get%>		
						<%end %>
					</div>
					<div class="col-xs-12 col-sm-4 emphasis">
						<h2><strong>245</strong></h2>                    
						<p><small>Following</small></p>
						<button class="btn btn-info btn-block" id="show_books_btn"><span class="fa fa-book"></span>View Books Added</button>
						<%# button_to "Show all books", edit_user_registration_path, class: "btn btn-success btn-block", method: :get%>	
					</div>


					
					<div class="col-xs-12 col-sm-4 emphasis">
                    <h2><strong>43</strong></h2>                    
                    <p><small>Books reviewed</small></p>
                    <div class="btn-group dropup btn-block">
                      <!-- <button type="button" class="btn btn-primary" id="options-btn"><span class="fa fa-gear"></span> Options </button> -->
                      <button class="btn btn-primary dropdown-toggle btn-block" data-toggle="dropdown" >
                        <span class="fa fa-gear">
                        Options <span class="caret"></span> 
                        <!-- <span class="sr-only">Toggle Dropdown</span> -->
                      </button>
                      <ul class="dropdown-menu text-left" role="menu" id="user-options">
                        <li><a href="#"><span class="fa fa-envelope pull-right"></span> Send an email </a></li>
                        <li><a href="#"><span class="fa fa-list pull-right"></span> Edit Profile  </a></li>
                        <li class="divider"></li>
                        <li><a href="#"><span class="fa fa-warning pull-right"></span>Admin Panel</a></li>
                        <li class="divider"></li>
                        <li><a href="#" class="btn " role="button"> Unfollow </a></li>
                      </ul>
                    </div>
                </div>
				</div>
				<!-- ADD partial here-->
				<hr>

				<div id="bottom_partial">
				<%if params[:page].present? %>
					<%= render 'view_books_added'%>
				<%end%>
				</div>
			</div>   
		</div>
	</div>
</div>

<script type="text/javascript">
		var b = jQuery('#show_books_btn');

		b.click(function(){

		if(b.text()==="View Books Added"){
			b.text('View People I follow');
			var span = $('<span />').addClass('fa fa-users');
			b.prepend(span);
			jQuery('#bottom_partial').empty();
			jQuery('#bottom_partial').append("<%= escape_javascript render 'view_books_added'%>");//append("yes View  All users");
			// jQuery('#bottom_partial').load('a.txt');
			
		}
		else{
			b.text('View Books Added');
			var span = $('<span />').addClass('fa fa-book');
			b.prepend(span);
			jQuery('#bottom_partial').empty();
			//add followers here
		}

	});		
</script>