
<% if !user_signed_in? %>
<h2> Hey! Book lover ! <%= link_to "Sign Up", new_user_registration_path %> </h2>
<% elsif params[:category].blank? %>
<h2> All Books</h2>
<% else %>
<h2> <u> <%= Category.find_by(name: params[:category]).name %>  </u> </h2>
<%end %>

<% if @books.count == 0  %>
<h3>   NO BOOKS HERE</h3>
<% end %>

<% @books.each do |book_item| %>

<!-- <h3> Book Title : <% link_to book_item.title , book_path(book_item) %>
</h3> -->
<a href= "/books/<%= book_item.id %>"> 
	<%= image_tag book_item.book_img.url(:medium)  %>
</a>
<!-- <p>Author :  <% book_item.author %> </p>  -->
<% end %>
<br><br>

