// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.single_book_user_added{
	height: 170px;
	width: 120px;

}

.book-user-added{
	padding: 20px;
}

.media-body{
    padding-left: 20px;
}

#avg-rating-label{
	padding: 15px;
    font-size: small;
    color:#50708c;
}

.content-single-book{
	padding: 20px;
}