// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile 
	{
		min-height: 355px;
		display: inline-block;
	}

	.divider 
	{
		border-top:1px solid rgba(0,0,0,0.1);
	}

span.tags {
    background: #337ab7;
    border-radius: 2px;
    color: #f5f5f5;
    padding: 2px 4px;
}

	.emphasis 
	{
		border-top: 4px solid transparent;
	}
	.emphasis:hover 
	{
		border-top: 4px solid #1abc9c;
	}
.emphasis h2
{
    margin-bottom:0;
    }
    small {
    font-size: small;
}

#user-options
{
    background-color: #34495e;    
    box-shadow: none;
    -webkit-box-shadow: none;
    width: 250px;
    margin-left: -125px;
    left: 50%;
    }
#user-options .divider 
{
    background:none;    
    }
#user-options>li>a
{
    color:#f5f5f5;
  }

  #user-options>li>a:hover{
  	background-color: #337ab7;
  }

.dropup .dropdown-menu 
{
    margin-bottom:10px;
 }

.fa {
	margin-right: 10px;
}

#options-btn{
    width: 12em;
}

#show_books_btn{
    white-space: normal;
}