<h2> Edit Review </h2>
<%= simple_form_for([@book, @review ] )  do |f| %>
<div id="rating-form-edit" data-score-edit="<%= @review.rating %>">
	<label>Rating</label>
</div>
<%= f.input :comment %>
<br><br>
<%= f.button :submit %>
<% end %>

<script>

	$('#rating-form-edit').raty({
		path: '/assets/',
		scoreName: 'review[rating]',
		score: function(){
			return $(this).attr('data-score-edit');
		}
	});

</script>