<footer class="footer">
	<nav>
		<ul>
			<li><%= link_to "About",   "#" %></li>
			<li><a href="https://github.com/siddharth1001/good_reads">Github</a></li>
			<li><a href="http://news.railstutorial.org/">News</a></li>
		</ul>
	</nav>
</footer>