<footer class="footer">
	<nav>
		<ul>
			<li>
				<a href="#">
				<i class="fa fa-user" aria-hidden="true"></i> About</a>
			</li>
			<li>
				<a href="https://github.com/siddharth1001/good_reads">
				<i class="fa fa-github" aria-hidden="true"></i> Github</a>
			</li>
			<li>
				<a href="https://www.goodreads.com/">
				<i class="fa fa-newspaper-o" aria-hidden="true"></i> News</a>
			</li>
		</ul>
	</nav>
</footer>