<footer class="footer">
	<nav>
		<ul>
			<li><i class="fa fa-user" aria-hidden="false"></i>
			<%= link_to "About",   "#" %></li>
			<li><i class="fa fa-github" aria-hidden="true"></i> 
			<a href="https://github.com/siddharth1001/good_reads">Github</a></li>
			<li><a href="https://www.goodreads.com/">News</a></li>
		</ul>
	</nav>
</footer>